{% extends "temp1.html" %}
{% block body %}
<form action="" method="POST">
        <br>
        <table class="table table-hover">
        <thead>
        <tr>
        {% for i in h %}
        <th scope="col">
        {{i}}
        </th>       
        {% endfor %}       
        </tr>
        </thead>
        <tbody>
        {% for i in l1 %}
        <tr>       
        {% for j in i %}
        <td>
        {{j}}
        </td>
        {% endfor %}
        </tr>
        {% endfor %}
         </tbody>
        </table>
        <p>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {{messages[0]}}
        {% endif %}
        {% endwith %}
        <p>
         ISBN no. to be deleted:
        <p>
        <input type="text" name="unam" required/>
        <p>
        <input type="submit" name="dl" value="Delete"/>
        <input type="submit" name="bkk" value="Back" formnovalidate/> 
</form>
{% endblock %}
