{% extends "temp1.html" %}
{% block body %}

<div class="container">
<form action="" method="POST">
            <div class="form">
                <div class="note">
                
                    <p>Password Reset</p>
                </div>
  <div class="form-content">
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
		 </div>
		<input name="emal" class="form-control" placeholder="Email" value="{{session['ee']}}" required>
	</div>
<br>
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-key"></i> </span>
		 </div>
		<input name="otp" class="form-control" placeholder="OTP" required>
	</div>
	<br>


    <div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
	    <input class="form-control" name="pas" placeholder="Password" type="New password" pattern=".{8,}" oninvalid="setCustomValidity('Password should contain minimun 8 characters')" oninput="setCustomValidity('')" required>
	</div>
	<br>
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
	    <input class="form-control" name="cpas" placeholder="Confirm Password" type="Confirm password">
	</div>
	{% with messages=get_flashed_messages() %}
                {% if messages %}
                <br>
                <div class="alert alert-danger" role="alert">
                    *{{messages[-1]}}
                </div>
                {% endif %}
                {% endwith %}
                            
                            <div class="form-group text-center">
                                <input type="submit" value="Get OTP" name="so" class="btnSubmit" formnovalidate/>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Reset" name="rs" class="btnSubmit"/>
                            </div>
                        </div>
                            
                        </div>
                    </div>
</form>                  
                </div>
{% endblock %}